# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package lock
package-lock.json
yarn.lock

# Husky directory
.husky

# c8 test coverage
coverage/

# Coverage directory used by tools like istanbul
coverage.*

# Github directory
.github

# Dependency directories
node_modules/

# IDE / Editor
.fleet
.idea
.vscode
target/

# macOS
.DS_Store
